# Appwrite client configuration
VITE_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=6a2ce46a003230dcf661
VITE_APPWRITE_DATABASE_ID=6a2ce492003a18046d9b
VITE_APPWRITE_RELEASES_COLLECTION_ID=releases
VITE_APPWRITE_USERS_COLLECTION_ID=users
